---
---

@import "minima";

.site-header {
  position: relative;
  background: url("/assets/images/VOEF-logo-rouge.png") center/cover no-repeat !important;
  height: 250px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.site-header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 50, 0.5);
  z-index: 1;
}

.site-title {
  position: relative;
  z-index: 2;
  color: white !important;
  font-size: 30px;
  font-weight: 600;
}

/* Couleur des titres */
h1 {
  color: #002b5c;
}

h2 {
  color: #003f88;
}
