---
---

@import "minima";

/* HEADER LAYOUT */
.site-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu vertical à gauche */
.site-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Logo à droite */
.site-header {
  position: relative;
}

.site-header::after {
  content: "";
  background: url("/assets/images/VOEF-logo-rouge.png") no-repeat center;
  background-size: contain;
  width: 180px;
  height: 120px;
}
